    <h1>leex version:<h1>
    <p>Current temperature: <%= @temperature %><p>
    <p>
      <button phx-click="inc_temperature">Increase Temp By 1000</button>
      <button phx-click="dec_temperature">Decrease Temp By 1000</button>
    </p>
    <p>Random temperature increases: <%= @i %></p>
